@mixin vidBtn {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 60px;
}

.mtngcontainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: gray;
  color: brown;
  text-align: center;
  font-size: 60px;
  width: 99.2vw;
  height: 98.5vh;
  border: 5px solid gray;
}

.cntrlbar {
  align-self: flex-end;
  height: 50 px;
  width: 100vw;
  background-color: #fff;
}

.btn-on {
  @include vidBtn();
}
.btn-on:hover {
  background-color: #cfcfcf;
}
.btn-off {
  @include vidBtn();
}
.btn-off:hover {
  background-color: #cfcfcf;
}
.phnbtn {
  @include vidBtn();
}
.phnbtn:hover {
  background-color: red;
  opacity: 0.5;
}

.share-on {
  @include vidBtn();
  background-color: #7066ff;
}
.share-on:hover {
  background-color: #cfcfcf;
}
.share-off {
  @include vidBtn();
  opacity: 0.5;
}
.share-off:hover {
  background-color: gray;
}
