@use '../../assets/MainStyles/Main' as Main;
$break-small: 410px;
$break-med: 850px;
$break-large: 1200px;

.container {
  width: 100%;
  min-height: 60vh;
  padding-left: 3%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}
.column-1 {
  position: relative;
  flex-basis: 40%;
  margin-left: 50px;
}
.column-1 .greeting {
  font-size: 50px;
  margin: 40px 0 50px;
}
.column-1 .status {
  font-size: 20px;
  margin: 20px 0 10px;
}
.column-1 .name {
  font-size: 20px;
  margin: 20px 0 10px;
}
.column-1 .email {
  font-size: 20px;
  margin: 20px 0 10px;
}
.column-1 .bio {
  font-size: 20px;
  margin: 20px 0 50px;
}
.btn {
  width: 160px;
  border: 0;
  padding: 15px 15px;
  outline: none;
  color: #0A0A0A;
  font-weight: 500;
  letter-spacing: 11;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to top, #93B8DA, #4F92D0, #014087);
  transition: width 1.25s;
}
.btn:hover {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 220px;
}
.greeting::after {
  content: '';
  width: 10px;
  height: 60px;
  position: absolute;
  left: -20px;
  background: linear-gradient(to top, #93B8DA, #4F92D0, #014087);
}
.column-2 {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.column-2 .user-img {
  width: 80%;
  border-radius: 40px 40px 40px 40px;
}
.color-box {
  position: absolute;
  right: -10;
  top: 15;
  background: linear-gradient(to top, #ffffff, #4F92D0, #014087);
  height: 150%;
  width: 100%;
  z-index: -1;
  border-radius: 40px 0 0 40px;
  transform: translateX(145px);
}

@media screen and (max-width: $break-med) {
  .row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .column-1 {
    flex-basis: 100%;
  }
  .column-2 {
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .color-box {
    width: 500px;
    transform: translateX(125px);
  }
  .column-1 .greeting {
    font-size: 35px;
    font-weight: 500;
  }
  .column-1 .status {
    font-size: 15px;
    font-weight: 500;
  }
  .column-1 .name {
    font-size: 15px;
    font-weight: 500;
  }
  .column-1 .email {
    font-size: 15px;
    font-weight: 500;
  }
  .column-1 .bio {
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (min-width: $break-large) {

}

