.landing {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: white;
}
.button {
  align-self: center;
  width: 100px;
  height: 50px;
  color: #4b4b4b;
  background-color: white;
  opacity: 0.3;
  border: 1px solid blue;
  border-radius: 16px;
}
