.landing {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: white;
}
.button {
  font-size: 15px;
  height: 50px;
  flex-basis: 120px;
  flex-shrink: initial;
  padding: 10px;
  color: #4b4b4b;
  background-color: white;
  opacity: 0.3;
  border: 1px solid blue;
  border-radius: 16px;
}
.button:hover {
  background-color: blue;
}
